body{
    background-color: white;
    background-image: url(../Imagens/evento.jpg);
    font-family: 'Times New Roman', Times, serif;
    background-attachment: fixed;
    background-size: contain;
}

h1{
    color: rgb(10, 1, 1);
    font-family: cursive;
    text-align: center;
    margin: auto;
    <b>;
}

h2{
    color: lawngreen;
    text-align: justify;
    text-size-adjust: inherit;
    
}

h3{
    color: lawngreen;
    font-weight: lighter;
}
p{
    color: white
}

li{
    color: orange
}